---
import { Image } from "astro:assets";
export type Props = {
  src: ImageMetadata;
  alt: string;
  height?: number;
  width?: number;
};
---

<div class="relative h-full w-full">
  <div class="absolute inset-0 bg-black/80"></div>
  <Image {...Astro.props} format="webp" class="h-full w-full object-cover" />
  <div class="absolute inset-0 flex items-center justify-center max-w">
    <slot />
  </div>
</div>
