---
import Logo from '@/components/logo.astro';
import { getTranslations } from '@/lib/localization';
import type { Locale } from '@/models/i18n';
import Link from '../link.astro';

export type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const [t] = getTranslations(locale);
---

<footer class="bg-black text-white">
  <div class="flex justify-between max-w py-12">
    <div class="space-y-4">
      <Link
        href="https://esek.se"
        class="h-16 aspect-square block"
        ariaLabel="E-Sektionen homepage"
      >
        <Logo />
      </Link>

      <p class="max-w-sm text-sm">
        {t('footer.info')}
      </p>

      <Link href="https://github.com/esek/nyilund" class="inline-block text-sm">
        {t('footer.open_source')}
      </Link>
    </div>
  </div>

  <div class="bg-white text-black py-2">
    <div class="max-w text-center text-sm">
      {t('footer.created_by')}
    </div>
  </div>
</footer>
