---
import { getTranslations } from '@/locales';
import type { Locale } from '@/models/i18n';
import Logo from '@/components/logo.astro';
import Link from '../link.astro';

export type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const [t, routes] = getTranslations(locale);

const navLinks = [
  {
    label: t('nav.about'),
    href: routes('about'),
  },
  {
    label: t('nav.nollning'),
    href: routes('nollning'),
  },
  {
    label: 'E-Sektionen',
    href: 'https://esek.se',
  },
];

type LocaleInfo = {
  label: string;
  href: string;
};

const currRoute = Astro.url.pathname.split('/').at(-1) || ('home' as any);

const locales: Record<Locale, LocaleInfo> = {
  sv: {
    label: 'SWE',
    href: routes(currRoute, 'sv'),
  },
  en: {
    label: 'ENG',
    href: routes(currRoute, 'en'),
  },
};

const otherLocale = Object.entries(locales).find(([l]) => l !== locale)![1];
---

<header
  class="py-4 fixed top-0 left-0 right-0 bg-black/50 z-[999] text-white backdrop-blur-sm"
>
  <div class="max-w flex items-center justify-between">
    <a href={routes('home')} class="h-12 aspect-square block" aria-label="Home">
      <Logo />
    </a>

    <div class="flex items-center gap-8">
      <nav class="items-center gap-4 font-semibold hidden md:flex">
        {navLinks.map((link) => <Link href={link.href}>{link.label}</Link>)}
      </nav>

      <Link
        href={otherLocale.href}
        class="block text-sm px-4 py-1 border rounded-sm bg-white/10"
      >
        {otherLocale.label}
      </Link>
    </div>
  </div>
</header>
