---
export type Props = {
  href: string;
  variant?: "primary" | "secondary";
};

const { href, variant = "primary" } = Astro.props;

const target = href.startsWith("http") ? "_blank" : null;
---

<a href={href} data-variant={variant} target={target}>
  <slot />
</a>

<style lang="scss">
  a {
    --background: theme("colors.white");
    --color: theme("colors.black");

    background: var(--background);
    color: var(--color);

    @apply px-12 py-3 inline-block font-semibold rounded-sm;

    &[data-variant="secondary"] {
      --background: theme("colors.black");
      --color: theme("colors.white");
    }

    &:hover {
      @apply opacity-80;
    }
  }
</style>
