---
import BackgroundOverlay from '@layout/background-overlay.astro';
import heroImage from '@/assets/e-house.png';
import Button from './button.astro';
import type { Locale } from '@/models/i18n';
import { getTranslations } from '@/lib/localization';

export type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const [t, routes] = getTranslations(locale);
---

<section class="h-[100dvh]">
  <BackgroundOverlay
    src={heroImage}
    alt="E-Huset LTH"
    width={1920}
    aspectRatio={16 / 9}
  >
    <div
      class="flex items-center justify-center flex-col text-white gap-4 text-center"
    >
      <h1 class="font-black text-4xl md:text-8xl text-center">
        {t('hero.home.title')}
      </h1>

      <p class="text-lg md:text-2xl">
        {t('hero.home.subtitle')}
      </p>

      <div class="flex items-center gap-4 flex-col md:flex-row mt-2">
        <Button href={routes('about')}>
          {t('hero.home.cta.about')}
        </Button>
        <Button href="#faq">
          {t('hero.home.cta.faq')}
        </Button>
      </div>
    </div>
  </BackgroundOverlay>
</section>
