---
import BackgroundOverlay from '@/components/background-overlay.astro';
import heroImage from '@/assets/e-house.png';
import Button from './button.astro';
import type { Locale } from '@/models/i18n';
import { getTranslations } from '@/locales';

export type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const t = getTranslations(locale);
---

<div class="h-[100dvh]">
  <BackgroundOverlay
    src={heroImage}
    alt="E-Huset LTH"
    width={1920}
    aspectRatio={16 / 9}
  >
    <div class="flex items-center justify-center flex-col text-white gap-4">
      <h1 class="font-black text-4xl md:text-8xl text-center">
        {t('hero.title.first')}
        <br />
        {t('hero.title.second')}
      </h1>

      <p class="text-lg md:text-2xl">
        {t('hero.subtitle')}
      </p>

      <div class="flex items-center gap-4">
        <Button href="">
          {t('hero.cta.about')}
        </Button>
        <Button href="#faq">
          {t('hero.cta.faq')}
        </Button>
      </div>
    </div>
  </BackgroundOverlay>
</div>
