---
import { getTranslations } from '@/locales';
import type { Locale } from '@/models/i18n';
import Logo from './logo.astro';

export type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const [, routes] = getTranslations(locale);
---

<header
  class="py-4 fixed top-0 left-0 right-0 bg-gradient-to-b from-black/50 to-black/10 z-[999] text-white"
>
  <div class="max-w">
    <a href={routes('home')} class="h-12 aspect-square block">
      <Logo />
    </a>
  </div>
</header>
