---
import Heading from './heading.astro';

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class="max-w text-center space-y-4">
  <Heading larger={true}>{title}</Heading>
  <p class="max-w-2xl mx-auto">
    <slot />
  </p>
</div>
